In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# need to fix up stuff in the later cells

Importing the Dataframe

In [6]:
# Remember that double backslashes are required on pc
# Remember to input file path as a 'string'

unidata = pd.read_csv('C:\\Users\\Rose\\Desktop\\JupyterStuff\\universities.csv')

In [5]:
unidata.head()

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0

In [18]:
unidata

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0

In [35]:
unidata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [10]:
unidata.describe

<bound method NDFrame.describe of                                                    name  \
0               A T Still University of Health Sciences
1                          Abilene Christian University
2                  Abraham Baldwin Agricultural College
3                                       Academy College
4                  Academy for Five Element Acupuncture
...                                                 ...
2902  Yo San University of Traditional Chinese Medicine
2903                                       York College
2904                          York College Pennsylvania
2905                        Youngstown State University
2906                                 Zion Bible College

                                                address  \
0           800 W Jefferson, Kirksville, Missouri 63501
1               1600 Campus Court, Abilene, Texas 79699
2            2802 Moore Hwy, Tifton, Georgia 31793-2601
3     1101 E. 78th Street, Suite 100, Minneapolis, M...
4            305 SE 2nd Ave, Gainesville, Florida 32601
...                                                 ...
2902  13315 W. Washington Boulevard, Los Angeles, Ca...
2903           1125 E 8th St, York, Nebraska 68467-2699
2904     Country Club Rd, York, Pennsylvania 17403-3651
2905  One University Plaza, Youngstown, Ohio 44555-0001
2906  320 South Main Street, Haverhill, Massachusett...

                     Website  \
0               WWW.ATSU.EDU
1                www.acu.edu
2               www.abac.edu
3     www.academycollege.edu
4      www.acupuncturist.edu
...                      ...
2902           www.yosan.edu
2903           www.york.edu/
2904             www.ycp.edu
2905             www.ysu.edu
2906             www.zbc.edu

                                                   Type     Size
0                        4-year, Private not-for-profit   3480.0
1                        4-year, Private not-for-profit   4669.0
2                 4-year, primarily associate's, Public   3600.0
3     4-year, primarily associate's, Private for-profit    165.0
4                        4-year, Private not-for-profit     51.0
...                                                 ...      ...
2902                     4-year, Private not-for-profit    139.0
2903                     4-year, Private not-for-profit    396.0
2904                     4-year, Private not-for-profit   5627.0
2905                                     4-year, Public  13704.0
2906                     4-year, Private not-for-profit    247.0

[2907 rows x 5 columns]>

In [17]:
unidata.index

RangeIndex(start=0, stop=2907, step=1)

In [3]:
unidata.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [23]:
unidata.dtypes

name        object
address     object
Website     object
Type        object
Size       float64
dtype: object

In [19]:
unidata['Type']

0                          4-year, Private not-for-profit
1                          4-year, Private not-for-profit
2                   4-year, primarily associate's, Public
3       4-year, primarily associate's, Private for-profit
4                          4-year, Private not-for-profit
                              ...
2902                       4-year, Private not-for-profit
2903                       4-year, Private not-for-profit
2904                       4-year, Private not-for-profit
2905                                       4-year, Public
2906                       4-year, Private not-for-profit
Name: Type, Length: 2907, dtype: object

In [37]:
unidata.sort_values('Type')

,name,address,Website,Type,Size
2587,University of Phoenix-San Diego Campus,"3890 Murphy Canyon Road Suite 100, San Diego, ...",www.phoenix.edu,"4-year, Private for-profit",3367.0
2592,University of Phoenix-Southern Colorado Campus,"5725 Mark Dabling Blvd., Colorado Springs, Col...",www.phoenix.edu,"4-year, Private for-profit",594.0
2593,University of Phoenix-Springfield Campus,"1343 E. Kingsley Street, Springfield, Missouri...",www.phoenix.edu,"4-year, Private for-profit",125.0
2594,University of Phoenix-St Louis Campus,"13801 Riverport Drive, Ste. 102, Saint Louis, ...",www.phoenix.edu,"4-year, Private for-profit",460.0
2595,University of Phoenix-Tulsa Campus,"10810 E. 45th Street, Suite 102, Tulsa, Oklaho...",www.phoenix.edu,"4-year, Private for-profit",826.0
...,...,...,...,...,...
2785,West Virginia University at Parkersburg,"300 Campus Drive, Parkersburg, West Virginia 2...",www.wvup.edu,"4-year, primarily associate's, Public",3753.0
2006,Sitting Bull College,"1341 92nd Street, Fort Yates, North Dakota 585...",www.sittingbull.edu,"4-year, primarily associate's, Public",296.0
212,Bellevue College,"3000 Landerholm Cir SE, Bellevue, Washington 9...",bellevuecollege.edu/,"4-year, primarily associate's, Public",13035.0
586,CUNY New York City College of Technology,"300 Jay St, Brooklyn, New York 11201-2983",www.citytech.cuny.edu,"4-year, primarily associate's, Public",14268.0
984,Indian River State College,"3209 Virginia Ave, Fort Pierce, Florida 34981-...",www.irsc.edu,"4-year, primarily associate's, Public",15366.0

Using pandas, find both the mean and median size by each university type (as given in the dataframe), ordered by average size in ascending order.

In [46]:
unidata.groupby("Type").aggregate([np.mean, np.median]).sort_values(by=('Size', 'mean'))

                                                            Size
                                                            mean  median
Type
4-year, primarily associate's, Private for-profit     934.380597   564.5
4-year, primarily associate's, Private not-for-...   1129.413793   768.0
4-year, Private not-for-profit                       2399.885696  1206.0
4-year, Private for-profit                           3504.501859   730.0
4-year, primarily associate's, Public                6889.366197  3558.0
4-year, Public                                      11478.913765  7669.0

Make new columns  in the dataframe from existing data for the following attributes:
City
State
ZipCode
Private or Public
for-profit or not-for-profit
primarily associate's (1 for Yes, 0 for No)
 Using the new columns you've made above (and excluding the original type column), find both the mean and median size of each university by State, by Private or Public, and by whether the university is primarily associate's or not.

In [7]:
# Making a copy of the dataframe.
df = unidata.copy()

In [48]:
df.head(10)

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0

In [51]:
df[['street', 'city', "state"]] = df['address'].str.rsplit(",",2, expand=True)

In [52]:
df.head(10)

,name,address,Website,Type,Size,street,city,state
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,800 W Jefferson,Kirksville,Missouri 63501
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,1600 Campus Court,Abilene,Texas 79699
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,2802 Moore Hwy,Tifton,Georgia 31793-2601
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,"1101 E. 78th Street, Suite 100",Minneapolis,Minnesota 55420-1554
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,305 SE 2nd Ave,Gainesville,Florida 32601
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,79 New Montgomery,San Francisco,California 94105
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,1601 Clay St,Oakland,California 94612
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,2700 W Anderson Ln Ste 204,Austin,Texas 78757
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,1920 Spruce St,Philadelphia,Pennsylvania 19103-6685
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,2550 Shattuck Ave,Berkeley,California 94704

In [59]:
df.head(10)

,name,address,Website,Type,Size,street,city,state_,zip
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,800 W Jefferson,Kirksville,Missouri,63501
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,1600 Campus Court,Abilene,Texas,79699
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,2802 Moore Hwy,Tifton,Georgia,31793-2601
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,"1101 E. 78th Street, Suite 100",Minneapolis,Minnesota,55420-1554
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,305 SE 2nd Ave,Gainesville,Florida,32601
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,79 New Montgomery,San Francisco,California,94105
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,1601 Clay St,Oakland,California,94612
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,2700 W Anderson Ln Ste 204,Austin,Texas,78757
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,1920 Spruce St,Philadelphia,Pennsylvania,19103-6685
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,2550 Shattuck Ave,Berkeley,California,94704

In [55]:
df.drop('state', axis=1, inplace=True)

In [61]:
df.head(10)

,name,address,Website,Type,Size,street,city,state_,zip
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,800 W Jefferson,Kirksville,Missouri,63501
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,1600 Campus Court,Abilene,Texas,79699
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,2802 Moore Hwy,Tifton,Georgia,31793-2601
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,"1101 E. 78th Street, Suite 100",Minneapolis,Minnesota,55420-1554
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,305 SE 2nd Ave,Gainesville,Florida,32601
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,79 New Montgomery,San Francisco,California,94105
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,1601 Clay St,Oakland,California,94612
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,2700 W Anderson Ln Ste 204,Austin,Texas,78757
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,1920 Spruce St,Philadelphia,Pennsylvania,19103-6685
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,2550 Shattuck Ave,Berkeley,California,94704

In [62]:
df.groupby("Type").aggregate([np.mean, np.median]).sort_values(by=('Size', 'mean'))

                                                            Size
                                                            mean  median
Type
4-year, primarily associate's, Private for-profit     934.380597   564.5
4-year, primarily associate's, Private not-for-...   1129.413793   768.0
4-year, Private not-for-profit                       2399.885696  1206.0
4-year, Private for-profit                           3504.501859   730.0
4-year, primarily associate's, Public                6889.366197  3558.0
4-year, Public                                      11478.913765  7669.0

In [8]:
df.to_csv('uni',index=False)